[submodule "sources_non_forked/vim-jsx-pretty"]
	path = sources_non_forked/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "sources_non_forked/vim-js"]
	path = sources_non_forked/vim-js
	url = https://github.com/yuezk/vim-js.git
[submodule "sources_non_forked/vimtex"]
	path = sources_non_forked/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "sources_non_forked/tlib_vim"]
	path = sources_non_forked/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
